h1 Welcome Adm #{adm_name}!
fieldset
  ul
    li
      a(href='/adm/logout') Log out
    li
      a(href='/adm/book_in') One Book In
    li
      a(href='/adm/books_in') Books In
    li
      a(href='/adm/borrow') Borrow
    li
      a(href='/adm/return') Return
    li
      a(href='/adm/del_card') Del A Card
    li
      a(href='/adm/new_card') New A Card

