h1 Welcome Adm #{adm_name}!
p
  a(href='/adm/logout') Log out
p
  a(href='adm/book_in') One Book In
p
  a(href='adm/books_in') Books In
p
  a(href='adm/borrow') Borrow
p
  a(href='adm/return') Return
p
  a(href='adm/del_card') Del A Card
p
  a(href='adm/new_card') New A Card

