h1 Book In
#href
  a(href='/adm') Adm Panel
fieldset(id='inputs')
  form(id='book_in', method='post', action='/adm/book_in')
    p
      label(for='book_no') Book_no:
      input(id='book_no', name='book_no', type='text', required='required')
    p
      label(for='category') Category:
      input(id='category', name='category', type='text', required='required')
    p
      label(for='title') Title:
      input(id='title', name='title', type='text', required='required')
    p
      label(for='press') Press:
      input(id='press', name='press', type='text', required='required')
    p
      label(for='year') Year:
      input(id='year', name='year', type='text', required='required')
    p
      label(for='author') Author:
      input(id='author', name='author', type='text', required='required')
    p
      label(for='price') Price:
      input(id='price', name='price', type='text', required='required')
    p
      label(for='total') Total:
      input(id='total', name='total', type='text', required='required')
    p
      input(id='submit', type='submit', value='Book In')
