h1 Del a Card
a(href='/adm') -> Adm Panel
form(id='del_card', method='post', action='/adm/del_card')
  fieldset(id='inputs')
    p
      label(for='card_no') Card No. :
      input(id='card_no', name='card_no', type='text')
    p
      input(type='submit', id='submit', value='Delete')
