h1 New a Card
a(href='/adm') -> Adm Panel
form(id='new_card', method='post', action='/adm/new_card')
  fieldset(id='inputs')
    p
      label(for='name') Name :
      input(id='name', name='name', type='text')
    p
      label(for='unit') Unit:
      input(id='unit', name='unit', type='text')
    p
      label(for='category') Category:
      input(id='category', name='category', type='text')
    p
      input(id='submit', type='submit', value='New')
