h1 Return a book
#href
  a(href='/adm') Adm Panel
fieldset(id='inputs')
  form(id='return', method='post', action='/adm/return')
    p
      label(for='card_no') Card No. :
      input(id='card_no', name='card_no', type='text', required='required')
    p
      label(for='book_no') Book No. :
      input(id='book_no', name='book_no', type='text', required='required')
    p
      input(id='submit', type='submit', value='Return')
